/* general */
:root {
  --bright-blue: #0079ff;
  --light-mode-gray: #697c9a;
  --light-mode-navy: #4b6a9b;
  --light-mode-black: #2b3442;
  --light-mode-light-gray: #f6f8ff;
  --light-mode-white: #fefefe;
  --dark-mode-white: #ffffff;
  --dark-mode-navy: #1e2a47;
  --dark-mode-black: #141d2f;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-size: 15px;
}

/* change for dark */
a {
  color: var(--light-mode-navy);
  text-decoration: none;
}

/* typography */

body {
  color: var(--light-mode-black);
  background-color: #f2f2f2;
  font-size: 15px;
}

h1 {
  font-weight: bold;
  font-size: 1.733rem;
  line-height: 2.533rem;
  color: var(--light-mode-black);
}

h2 {
  font-weight: bold;
  font-size: 1.466rem;
  line-height: 2.2rem;
  color: var(--light-mode-black);
}

h3 {
  font-size: 1.066rem;
  line-height: 1.6rem;
  color: var(--bright-blue);
}

h4 {
  font-size: 0.866rem;
  line-height: 1.333rem;
  color: var(--light-mode-navy);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 2rem 0;
  margin: 0 auto;
  width: 327px;
}

.logo {
  color: #222731;
}

.light-mode-container {
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.light-mode-image {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}

.light-mode-text {
  letter-spacing: 2.5px;
  color: var(--light-mode-gray);
}

/* search */
.search-container {
  width: 327px;
  margin: 0 auto;
  height: 60px;
  background: var(--light-mode-white);
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 0 0.466rem 0 0.466rem;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  position: relative;
}

.username-input {
  border: none;
  padding: 0;
  width: 195px;
  height: 25px;
  outline: none;
  color: #222731;
  font-size: 1.2rem;
  line-height: 1.666rem;
  caret-color: var(--bright-blue);
  cursor: pointer;
}

.username-input::placeholder {
  font-family: monospace;
  color: var(--light-mode-navy);
  font-size: 0.866rem;
  line-height: 1.666rem;
  text-align: center;
}

.error {
  display: none;
  color: #f74646;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.48rem;
  position: absolute;
  left: 9.5rem;
}

.search-icon {
  width: 20.05px;
  height: 20px;
  margin: 0 0.5rem 0 0.5rem;
}

.search-btn {
  background-color: var(--bright-blue);
  color: white;
  font-size: 0.933rem;
  font-weight: bold;
  line-height: 1.382rem;
  font-family: monospace;
  width: 84px;
  height: 46px;
  border-radius: 15px;
  margin-left: auto;
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

/* user card */

.user-card-container {
  width: 327px;
  height: 517px;
  background-color: var(--light-mode-white);
  padding: 2rem 1.5rem;
  margin: 1rem auto 1rem auto;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.user-img {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin-right: 1.5rem;
}

.user-header-container {
  display: flex;
  align-items: center;
}

.full-name {
  font-size: 1.066rem;
  line-height: 1.58rem;
}

.username,
.joined {
  font-weight: initial;
  font-size: 0.866rem;
  line-height: 1.28rem;
}

.joined {
  margin-top: 0.5rem;
  color: var(--light-mode-gray);
}

.bio {
  margin-top: 2rem;
  font-size: 0.866rem;
  line-height: 1.66rem;
  color: var(--light-mode-navy);
}

.stat-container {
  background-color: var(--light-mode-light-gray);
  display: flex;
  height: 85px;
  border-radius: 15px;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0 0 0;
  text-align: center;
}

.stat-item {
  padding: 0 1rem;
  margin: 0;
}

.stat-text {
  font-size: 0.733rem;
  line-height: 1.086rem;
  color: var(--light-mode-navy);
}

.stat-num {
  font-weight: bold;
  font-size: 1.066rem;
  line-height: 1.58rem;
  margin-top: 0.5rem;
  color: var(--light-mode-black);
}

.details-container {
  margin-top: 2rem;
}

.detail-item {
  display: flex;
  padding: 0.5rem 0;
}

.detail-text {
  margin-left: 1rem;
  font-size: 0.866rem;
  line-height: 1.283rem;
  color: var(--light-mode-navy);
}

.blog,
.company,
.twitter_username {
  cursor: pointer;
}

.location {
  margin-left: calc(1rem + 6px);
}

@media screen and (min-width: 700px) {
  .header,
  .search-container,
  .user-card-container {
    width: 573px;
  }

  .search-container {
    padding-left: 2rem;
    height: 69px;
  }

  .search-icon {
    width: 24px;
    height: 24px;
    margin: 0 1rem 0 0;
  }

  .search-btn {
    width: 106px;
    height: 50px;
  }

  .error {
    left: 23rem;
  }

  .username-input {
    width: 375px;
  }

  .username-input::placeholder {
    font-size: 1.2rem;
    text-align: left;
  }

  .user-card-container {
    padding: 2.66rem;
    width: 573px;
    height: 481px;
  }

  .user-img {
    width: 117px;
    height: 117px;
    margin-right: 2.66rem;
  }

  .full-name {
    font-size: 1.733rem;
    line-height: 2.56rem;
  }

  .username {
    font-size: 1.066rem;
    line-height: 1.58rem;
  }

  .joined {
    font-size: 1rem;
    line-height: 1.48rem;
    margin: 0;
  }

  .bio {
    font-size: 1rem;
    line-height: 1.66rem;
    margin-top: 1.25rem;
  }

  .stat-container {
    text-align: left;
    justify-content: initial;
    padding: 1rem 2.13rem 1rem 2.13rem;
    height: 85px;
    margin-top: 1.25rem;
  }

  .stat-item {
    padding: 0;
    margin: 0;
    width: 72px;
    margin-right: 100px;
  }

  .stat-text {
    font-size: 0.866rem;
    line-height: 1.28rem;
  }

  .stat-num {
    font-size: 1.466rem;
    line-height: 2.17rem;
    margin: 0;
  }

  .details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.25rem;
  }

  .detail-item {
    min-width: 230px;
  }

  .detail-text {
    font-size: 1rem;
    line-height: 1.48rem;
  }

  .location-div {
    order: 1;
  }
  .twitter-div {
    order: 2;
  }
  .website-div {
    order: 3;
  }
  .company-div {
    order: 4;
  }
}

@media screen and (min-width: 1000px) {
  .header,
  .search-container,
  .user-card-container {
    width: 730px;
  }

  .username-input {
    width: 525px;
  }

  .error {
    left: 34rem;
  }

  .user-card-container {
    height: 444px;
    position: relative;
    padding: 3.2rem;
  }

  .user-img {
    position: absolute;
    top: 48px;
    left: 48px;
    margin: 0;
  }

  .user-header-container,
  .bio,
  .stat-container,
  .details-container {
    margin-left: 154px;
  }

  .user-name-container {
    position: relative;
    width: 480px;
  }

  .joined {
    position: absolute;
    top: 12px;
    left: 300px;
  }

  .bio,
  .stat-container {
    margin-top: 1.5rem;
  }

  .details-container {
    margin-top: 1rem;
  }

  .detail-item {
    padding: 1rem 0 1rem 0;
  }
}

/* hover active  */
@media (hover: hover) and (pointer: fine) {
  .search-btn:hover,
  .search-btn:active {
    background-color: #60abff;
  }

  .blog:hover,
  .blog:active,
  .company:hover,
  .company:active,
  .twitter_username:hover,
  .twitter_username:active {
    text-decoration: underline;
  }

  .not-available-light:hover,
  .not-available-dark:hover {
    text-decoration: none;
  }
}

/* light mode na & active */

.not-available-light {
  color: #a4b4cd;
  cursor: initial;
}

.light-mode-text-active {
  color: #222731;
}

.light-mode-image-active {
  content: url("assets/icon-moon-active.svg");
}

/* dark mode w/ na & active */

.dark-black {
  background: var(--dark-mode-black);
}

.dark-navy {
  background: var(--dark-mode-navy);
}

.dark-white-text {
  color: white;
}

.dark-active {
  color: #90a4d4;
}

.dark-sun {
  content: url("assets/icon-sun.svg");
}
.dark-sun-active {
  content: url("assets/icon-sun-active.svg");
}

.username-input-dark::placeholder {
  color: white;
}

.not-available-dark {
  color: #8e95a3;
  cursor: initial;
}
